{% extends "base.html" %}
{% block "main_content" %}
        <!-- About Me | Cucole.L -->
        <div class="col-md-9">
          <h2>关于我自己</h2><hr />
          <div class="self-list">
            <p>网名：cucole.</p>
            <p>爱好：骑行、跑步、pc发烧</p>
            <p>职业：码农</p>
            <p>熟练：php、linux、jquery</p>
            <p>正在学习：python、c</p>
            <p>关于我：</p>
            <p style="text-indent: 2em;">爱好旅游和户外，曾经骑行过318国道成都到拉萨。</p>
            <p style="text-indent: 2em;">码农，hack技术爱好喜欢折腾linux，目前是php程序员。</p>
            <p style="text-indent: 2em;">正在折腾Pyhon和c扩展，希望能把Python学好。</p>
          </div>
        </div>
{% include "side.html" %}
{% endblock %}