        <div class="col-md-3">
          <div class="sidebar-module"></div>
          <div class="sidebar-module">
          <h5><strong>Tags</strong></h5>
            <ol class="list-inline">
              {% for tag in tags %}
              <li><a href="{% url "tags" tag.name %}">{{ tag.name }}</a></li>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h5><strong>History</strong></h5>
            <ol class="list-unstyled">
              {% for arch in date_archive %}
              <li><a href="{% url "arch_date" arch|date:"Y" arch|date:"m" %}">{{ arch|date:"Y年m月" }}</a></li>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h5><strong>Social</strong></h5>
            <ol class="list-unstyled">
              <li><a href="https://github.com/lzgcucool">GitHub</a></li>
              <li><a href="http://www.facebook.com/cucole.lee">Facebook</a></li>
              <li><a href="https://twitter.com/cucole">Twitter</a></li>
            </ol>
          </div>
        </div>
